<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container">
            <a href="#" class="navbar-brand text-center">B's CR</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="myNav">

                <form action="" class="form-inline m-auto">
                    <input type="search" placeholder="Search for a project" class="form-control mr-sm-2" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>

                <ul class="navbar-nav ml-auto">

                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="#" class="nav-link">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link">LOGIN</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'register' %}" class="nav-link">REGISTER</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>
   
